@import '../header'

@import "../../libs/unitegallery-master/dist/css/unite-gallery.css"
@import "../../libs/unitegallery-master/dist/themes/default/ug-theme-default.css"
body 
  opacity: 1
  .header
    position: relative!important
  .galery 
    width: 80%
    left: 50%
    transform: translateX(-50%)
    height: 100%
    position: relative
    top: 300px
    //left: -20%
    display: block
