@import "../vars"
@import "fonts"
@import "../../libs/bootstrap-grid/bootstrap-grid"
@import "../../gallery/libs/font-awesome.min.css"
@import "../../libs/unitegallery-master/dist/css/unite-gallery.css"
@import "../../libs/unitegallery-master/dist/themes/default/ug-theme-default.css"
body 
  opacity: 1
  a
    color: inherit
    text-decoration: none
.online-store
  background-color: #efefeffb

.h2, .description
  text-align: center
  position: relative
.galery 
  width: 80%
  left: 50%
  transform: translateX(-50%)
  height: 100%
  position: relative
  margin-top: 120px
  //left: -20%
  display: block
  &:after
    content: ''
    background-color: #aaa
    width: 100%
    margin-top: 35px
    height: 4px
    position: absolute
    z-index: 9

.button 
  border: none 
  left: 50%
  cursor: pointer
  transform: translateX(-50%)
  position: absolute
  float: right
  margin-right: 10%
  margin-bottom: 110px
  display: inline-block;
  border-radius: 10px;
  padding: 10px 38px 7px;

  text-transform: uppercase
  transition: 0.3s;
  outline: none
  background-color: darken(#c4c4c4, 5%)
  color: #fff
  &-back
    margin-top: 30px
  &-up
    display: none
    font-size: 1.7em
    margin-top: 70px
    border-radius: 40%
    padding: 33px 46px
    @media only screen and (max-width : 1280px)
      font-size: 1.5em
      padding: 33px 45px
    @media only screen and (max-width : 480px)
      padding: 20px 35px
  &:hover
    background-color: darken(#c4c4c4, 10%)
    text-decoration: none;
    color: #fff
  &:focus
    background-color: darken(#c4c4c4, 10%)
    text-decoration: none;
    color: #fff
 

/* INDIVIDUAL*/

.container
  width: 90vw

.individual.header
  display: block
  position: relative
  font-size: 16px
  margin: 10px 20px 80px 20px
  .button 
    margin-top: 5px


// .individual-img-wrapper
//   a
//     display: block

.header.individual 
  .button
    background-color: #c4c4c4
    &:hover
      background-color: #ccc

.individual-img-link,%events-item
  position: absolute
  // display: inline-block
  left: 50%
  transform: translateX(-50%)
  margin: 10px 0 10px 0
  cursor: pointer
  img
    width: auto
    height: 415px
    left: 50%
    transform: translateX(-50%)
    // display: block
    position: relative
  a
    z-index: 3
    display: block
    position: absolute
    width: 100%
    height: 100%
  &:hover:after
    background-color: rgba(#c4c4c4, 0.2)
    color: transparent
  &:after
    content: 'Студийные фото'
    padding-top: 25%
    font-size: 32px
    font-weight: 100
    font-family: roboto
    letter-spacing: 8px
    color: #fff
    z-index: 2
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(#4c4c4c, 0.7)
    position: absolute
    display: block
    text-align: center
    transition: all 0.6s ease, background 0.7s ease
.individual-img-link:last-child:after
  content: 'Уличные фото'
.individual-img-link:last-child:hover:after
  background-color: transparent
.individual-img-link:last-child
  top: 630px

@media only screen and (max-width: 1520px)
  .individual-img-link img
    height: 400px
@media only screen and (max-width: 1060px)
  .individual-img-link img
    height: 387px
  .individual-img-link:last-child 
    top: 640px
@media only screen and (max-width: 1024px) and (orientation: portrait)
  .individual-img-link img
    height: 500px
  .individual-img-link:first-child 
    margin-top: 20px  
  .individual-img-link:last-child 
    top: 790px
@media only screen and (max-width: 795px)
  .individual-img-link img
    height: 374px
  .individual-img-link:last-child 
    top: 600px
@media only screen and (max-width: 768px)
  .individual-img-link img
    height: 345px
  .individual-img-link      
    top: 210px
  .individual-img-link:first-child
    margin-top: 60px
  .individual-img-link:last-child
    top: 635px

@media only screen and (max-width: 600px)
  .individual-img-link img
    height: 374px
  .individual-img-link:last-child 
    top: 670px

@media only screen and (max-width: 480px)
  .description
    padding: 0 20px
    font-size: 14px
  .button-back
    font-size: 14px
    padding: 9px 33px 6px 33px
  .individual-img-link
    margin-top: 80px
    img
      height: 200px
    &:after
      background-color: rgba(#4c4c4c, 0.6)
      font-size: 20px
  .individual-img-link:first-child
    top: 330px
  .individual-img-link:last-child
    top: 530px
    margin-bottom: 20px

@media only screen and (max-width: 320px)
  .individual.header
    font-size: 11px
  .individual-img-link
    // top: 34vh!important
    &:after
      font-size: 14px
  .individual-img-link:last-child
    top: 66vh!important

/* INDIVIDUAL END*/

/*EVENTS*/
.events-img-link1:after
  content: 'Свадьбы'
.events-img-link2:after
  content: 'Дни Рождения'
.events-img-link3:after
  content: 'Крестины'
.events-img-link4:after
  content: 'Выступления'  

$min_mar_top: 19vmin



@for $i from 1 through 4 
  .events-img-link#{$i}
    @extend %events-item
    top: calc(160px + 430px * (#{$i} - 1))
    line-height: 30px
  @media only screen and (max-width: 768px)
    .events-img-link#{$i}
      top: calc(160px + 50.5vmin * (#{$i} - 1))
      img
        height: 48.5vmin!important
      &:after
        background-color: rgba(#4c4c4c, 0.6)
        // font-weight: 500
      &:hover:after
        background-color: rgba(#4c4c4c, 0.6)
        color: #fff
  @media only screen and (max-width: 480px)
    .events-img-link#{$i}
      top: calc(140px + 50.5vmin * (#{$i} - 1))
      img
        height: 48.5vmin!important
  @media only screen and (max-width: 320px)
    .events-img-link#{$i}
      top: calc(110px + 50.5vmin * (#{$i} - 1))
      &:after
        font-size: 24px
      img
        height: 48.5vmin!important
      




    
