@import 'mixins/centerer'
.form__section 
  background-color: #efefef
  height: 85vh
  width: 100%
  // top: -24px
  position: relative
  // margin-top: -100px
  
  .title
    font-family: 'roboto-example'
    color: #4c4c4c
    font-size: 25px
    color: #aaa
    position: relative
    margin: 0
    display: block
    text-align: center
    top: 100px

  .form__container
    width: 100vw
    height: 56vh
    background-color: rgba(#fff, 0.7)
    font-size: 20px
    left: 50%
    transform: translate(-50%)
    position: relative
    margin-top: 16vh
  .form__content
    display: block
    +centerer()
    .form__input
      height: 6vh
      border-radius: 8px
      border: 2px solid #e5e6e7
      outline: none
      transition: all 0.5s ease
      &::-webkit-input-placeholder  /* Chrome/Opera/Safari */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease       

      &::-moz-placeholder  /* Firefox 19+ */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease
      &:-ms-input-placeholder  /* IE 10+ */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease
      &:-moz-placeholder  /* Firefox 18- */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease
      &:focus::-webkit-input-placeholder 
        opacity: 0
      &:focus::-moz-placeholder          
        opacity: 0
      &:focus:-moz-placeholder           
        opacity: 0
      &:focus:-ms-input-placeholder      
        opacity: 0 

      &:focus
        border: 2px solid lighten(#05a3a3, 10%)
    .form__textarea
      margin-top: 2vh
      height: 30vh
      outline: none
      border: 2px solid #e5e6e7
      border-radius: 20px
      resize: none
      &::-webkit-input-placeholder  /* Chrome/Opera/Safari */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease
      &::-moz-placeholder  /* Firefox 19+ */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease
      &:-ms-input-placeholder  /* IE 10+ */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease
      &:-moz-placeholder  /* Firefox 18- */
        color: #e0e0e0;
        opacity: 1
        transition: opacity 0.3s ease
      &:focus::-webkit-input-placeholder 
        opacity: 0
      &:focus::-moz-placeholder          
        opacity: 0
      &:focus:-moz-placeholder           
        opacity: 0
      &:focus:-ms-input-placeholder      
        opacity: 0 

      &:focus
        border: 2.5px solid lighten(#05a3a3, 10%)
  .button
    max-height: 50px
    height: 5.5vh
    width: 35vmin
    min-width: 250px
    margin-top: 2vh
    bottom: 2vh
    display: block
    text-align: center
    &:hover
      text-decoration: none
    +centererX()
