@import "mixins/centerer"
.header
  position: fixed
  width: 100%;
  height: 52px;
  z-index: 100
  vertical-align: top
  // margin-top: 50px
  background-color: rgba(#fff,.7);
  border-bottom: 0.2px solid rgba(#ccc, 0.7)
  &__contacts
    display: inline-block
    .fa
        font-size: 1.5em
        color: #4c4c4c
    span
      margin-left: 0.6em
    &__phone
      margin-left: 2em
      display: inline-block
    &__mail
      display: inline-block
      margin-left: 30px
      .fa
        font-size: 1.4em

        

  // color: #4c4c4c
  &__logo
    display: inline-block
    padding: 9px
    font-weight: bold
    font-size: 1.3em

  &__nav
    display: inline-block
    float: right
    margin-right: 10px
    &__item
      display: inline-block;
      padding: 9px
      font-size: 1.1em
      a
        color: #000
        text-decoration: none
        transition: all 0.3s ease
        &:hover
          color: #c4c4c4

  .button
    left: 65%
    transform: translateX(-50%);
    top: 10px
    position: absolute
    background-color: rgba(#aaa, 0.2)
    padding: 3.5px 18px
    margin: 0 auto
    cursor: pointer
    &:hover
      background-color: #fefefe