@import "mixins/centerer"
.header
  position: fixed
  width: 100%;
  height: 52px;
  z-index: 100
  font-size: 0.925em
  vertical-align: top
  // margin-top: 50px
  background-color: rgba(#fff,1);
  border-bottom: 0.2px solid rgba(#ccc, 0.7)
  &__contacts
    display: inline-block
    .fa
        font-size: 1.5em
        color: #4c4c4c
    span
      margin-left: 0.6em
    &__phone
      margin-left: 2em
      display: inline-block
    &__mail
      display: inline-block
      margin-left: 30px
      .fa
        font-size: 1.4em

        

  // color: #4c4c4c
  &__logo
    display: inline-block
    padding: 9px
    font-weight: bold
    font-size: 1.3em

  &__nav
    display: inline-block
    float: right
    margin-right: 10px
    &__item
      display: inline-block;
      padding: 13px
      font-size: 1.1em
      a
        color: #000
        text-decoration: none
        transition: all 0.3s ease
        &:hover
          color: darken(#b8bfff, 15%)

  .button
    left: 62.5%
    color: #fff
    transform: translateX(-50%);
    position: absolute
    height: 80%
    border-radius: 0 0 40% 40%
    background-color: rgba(#aaa, 0.5)
    padding: 7px 18px
    margin: 0 auto
    cursor: pointer
    &:hover
      background-color: rgba(#b8bfff, 0.9)