@import "mixins/centerer"
@import "fonts"
@import "libs"
@import "vars"
@import "header"
@import "intro"
@import "about"
@import "galery"
@import "form"
@import "reviews"
@import "footer"
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  box-sizing: border-box


body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font;
  overflow-x: hidden
  opacity: 1
  // margin-top: 50px

.hamburger--emphatic
  display: none
  outline: none
.img-responsive
  display: block
  max-width: 100%
  height: auto
ul
  margin: 0
  padding: 0  

a
  color: inherit


.button-circle
  border: 1px solid black
  width: 7em
  height: 7em
  border-radius: 50%
  transition: background 0.3s ease
  +centererX()
  bottom: 100px
  &:hover
    background-color: rgba(#c2c2c2, 0.2)
    color: inherit
  &:focus
    background: inherit
    color: inherit
  &:active
    background-color: inherit
  .fa
    font-size: 2em
    +centerer()
.white
  color: #444;
  background-color: rgba(#FFF, 0.6)
  border-color: #fff;
  border: none
  &:hover
    background-color: rgba(#fff, 0.5)
  &:focus
    background-color: rgba(#FFF, 0.4)
    color: inherit

.menthol
  background-color: lighten(rgba(#05a3a3, 0.7), 5%)
  color: #fff
  border: none
  &:hover
    background-color: lighten(rgba(#05a3a3, 0.6), 6%)
    color: #fff
  &:focus
    color: #fff
    background-color: lighten(rgba(#05a3a3, 0.5), 6%)
  &:active
    background-color: lighten(rgba(#05a3a3, 0.5), 6%)

#my-page
  height: 100vh

.fullscreen
  background-size: cover
<<<<<<< HEAD
  overflow: hidden
  min-height: 900px
=======
>>>>>>> tiny_fullpage_gallery

.button 
  border: none
  display: inline-block;
  border-radius: 15px;
  padding: 10px 22px 7px;
  text-decoration: none;
  transition: 0.3s;
  outline: none
  &__purple
    background-color: darken(#b8bfff, 5%)
    color: #fff
    &:hover
      background-color: darken(#b8bfff, 10%)
    &:active


.modal_shadow 
  position: absolute;
  top: 0;
  transition: all  1s ease
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000!important;
  opacity: 0.6;


#my-menu
  .button
    left: 62.5%
    transform: translateX(-50%);
    top: 10px
    position: relative
    background-color: rgba(#aaa, 0.2)
    padding: 3.5px 18px
    margin: 0 auto
    cursor: pointer
    &:hover
      background-color: #eee
.gray
  background-color: #e8e8e8 

.green
  background-color:  #d6ffde

.red
  background-color: #fcb1b1

@import "media" // Всегда в конце