.reviews
  width: 100%
  height: 100vh
  min-height: 1024px
  background-size: cover!important
  position: relative
  &:before
    content: ''
    width: 100%
    height: 100vh
    min-height: 1024px
    position: absolute
    background-color: rgba(#c4c4c4,0.2)
      
  .h2
    color: #fff
    margin: 80px 0 0 20px
    font-size: 46px
    position: relative
  &__box
    width: 70%
    background-color: rgba(#fff, 0.9)
    height: 66vh//73%
    overflow-y: auto //scroll;
    transition: all 1s ease
    border-bottom: 30px solid rgba(#fff, 0.0)
    border-top: 30px solid rgba(#fff, 0.0)


   
    &__comment
      display: flex
      justify-content: flex-start
  
      &__name
        background-color: lighten(rgb(218,85,75), 1%)
        width: 150px
        flex-basis: auto
        height: 30px
        margin: 0px 30px 0 30px
        line-height: 30px
        font-size: 1em
        text-align: center
        color: #fff
      &__text__wrapper
        background-color: #e8e8e8
        margin: 0px 30px 30px 30px
        width: 80%
        &:before
          content: ''; 
          position: relative
          display: block
          left: -99% ;
          margin-top: 5px;
          border: 20px solid transparent;
          border-right: 20px solid  #e8e8e8
        &.green:before
          border-right-color: #d6ffde
        &.red:before
          border-right-color: #fcb1b1
        &.gray:before
           border-right-color: #e8e8e8
      &__text
        font-style: italic
        padding: 15px
        margin-top: -40px
  &__content
    display: flex;
    // flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    position: absolute
    margin: 0 30px 0 20px
    height: 100vh
  &__new-review__container
    height: 66%
    max-height: 530px
    width: 26% 
    background-color: rgba(127,168,199, 0.85)
  &__new-review 
    margin: 0 40px 
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    .h3
      display: block
      text-align: center
      margin: 0
      margin-top: 30px
      color: #fff
      font-size: 34px
    .name
      shrink: 2
      border-radius: 5px
      height: 33px
      font-size: 0.9em
      padding-left: 10px
      border: none
    .name, .reviews__new-review__text
      &::-webkit-input-placeholder  /* Chrome/Opera/Safari */
        color: #c4c4c4;
        opacity: 1
        transition: opacity 0.3s ease       
      &::-moz-placeholder  /* Firefox 19+ */
        color: #c4c4c4;
        opacity: 1
        transition: opacity 0.3s ease
      &:-ms-input-placeholder  /* IE 10+ */
        color: #c4c4c4;
        opacity: 1
        transition: opacity 0.3s ease
      &:-moz-placeholder  /* Firefox 18- */
        color: #c4c4c4;
        opacity: 1
        transition: opacity 0.3s ease
     

    .review__character
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      width: 100%
      color: #fff
      font-size: 1.1em
      span
        margin-right: 10px
      select
        border: none
        height: 30px
        background-color: #fff
        color: #000
        flex-grow: 1

        text-align: center
        text-align-last: center
    .reviews__new-review__text
      border: none
      border-radius: 2%
      margin-top: 15px
      flex-shrink: 3
      padding-left: 10px
      height: 40% 
      margin-bottom: 30px
  .button.add_review
    position: relative
    margin-top: 30px
    background-color: #db594f
    text-transform: uppercase
    color: #fff
    left: 50%
    padding-left: 20px

    transform: translateX(-50%)
    padding-right: 20px
    &:hover
       background-color: darken(#db594f, 10%)
  &__nav
    position: absolute
    top: 70vh
    left: 33%
    margin-left: 30px
    transform: translateX(-50%)
    button
      padding: 5px 25px
      margin-left: 10px
      display: inline-block
      border-radius: 8px
      top: 66vh
      background-color: rgba(#ddd,0.8)
      color: #fff
      text-transform: uppercase
      transform: translateX(-50%)
      left: 39%
      z-index: 10
      transition: background 0.5s ease;
      cursor: pointer
      &:first-child
        margin-left: 0
      &:disabled
        cursor: not-allowed
      &:hover
        background-color: rgba(#db594f,0.85)
    .button.backward
      left: 25%
    
    .play,.pause
      display: none
      background-color: rgba(#bbb,0.8)  
      &:hover
        background-color: rgba(#db594f,0.85)
    .gray:hover
        background-color: #858585
  

  .button-circle
    border-radius: 45% 45% 0  0
    width: 8em
    height: 5em
    bottom: 0

.shown_all
  overflow-y: auto
  height: 66%
